@import "tailwindcss";

/* Apply dark styles when either: */
@variant dark {
  /* - The HTML element has a "dark" class */
  &:where(.dark, .dark *) {
    @slot;
  }

  /* - The HTML element has a "system" class and the system theme is dark */
  &:where(.system, .system *) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Inter Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(@fontsource-variable/inter/files/inter-latin-opsz-normal.woff2)
      format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}

:root {
  font-family: "Inter Variable", sans-serif;
  font-variation-settings: "opsz" 32;
}

@theme {
  --breakpoint-xs: 25rem; /* 400px */

  /* Custom base color palette alias */
  --color-base-50: var(--color-slate-50);
  --color-base-100: var(--color-slate-100);
  --color-base-200: var(--color-slate-200);
  --color-base-300: var(--color-slate-300);
  --color-base-400: var(--color-slate-400);
  --color-base-500: var(--color-slate-500);
  --color-base-600: var(--color-slate-600);
  --color-base-700: var(--color-slate-700);
  --color-base-800: var(--color-slate-800);
  --color-base-900: var(--color-slate-900);
  --color-base-950: var(--color-slate-950);
}
